<mat-toolbar class="menuHeader" id="headerId">
    <img src="../../../assets/imagenes/FixMaq_transparente.png" />
    <button mat-button id="button-nav" *ngIf="!esEjecutor" (click)="actividadesAdmin()">Actividades</button>
    <button mat-button id="button-nav" *ngIf="!esAdmin" (click)="actividadesEjec()">Actividades</button>
    <button mat-button id="button-nav" *ngIf="!esEjecutor" (click)="usuarios()">Usuarios</button>
    <button mat-button id="button-nav" *ngIf="!esEjecutor" (click)="auditorias()">Auditorias</button>
    <span class="spacer"></span>
    <h1 class="usuario">Usuario:  {{usuario?.nombres + ' ' + usuario?.apellido + '. Rol: ' + usuario?.rol}}</h1>
    <button id="button-user" mat-button class="accion"(click)="verDatos()" pTooltip="Editar">
      <span class="pi pi-user"></span>
    </button>
    <!-- <span class="spacer"></span> -->
    <button mat-flat-button (click)="cerrarSesion()"><mat-icon>close</mat-icon>Cerrar sesión</button>
</mat-toolbar>

<app-datosUsuario-dialog
  [(visible)]="dialogVisible"
  [accion]="accion"
  [usuario]="usuario"
  
/>