header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto;
}

.menuHeader {
    display: flex;
    width: 100%;
    height: 8vh;
}

.spacer {
    flex: 1 1 auto;
}

img{
    height: 5vh;
    border-radius: 8px;
}
