<!-- <header>
    <div class="card">
        <p-menubar [model]="items" />
        

    </div>
    <p-button label="Cerrar sesión" [raised]="true" icon="pi pi-times" severity="secondary" (click)="cerrarSesion()"></p-button>

</header> -->

<mat-toolbar class="menuHeader" color="primary">
    <!-- <span>My App</span> -->
    <button mat-button (click)="actividades()">Actividades</button>
    <button mat-button (click)="usuarios()">Usuarios</button>
    <span class="spacer"></span>
    <button mat-flat-button (click)="cerrarSesion()"><mat-icon>close</mat-icon>Cerrar sesión</button>
    <!-- <p-button label="Cerrar sesión" [raised]="true" icon="pi pi-times" severity="secondary" (click)="cerrarSesion()"></p-button> -->

</mat-toolbar>
