<app-base>
  <app-tabla-actividades
    #t
    [valores]="actividades"
    [(filaSeleccionada)]="actividadSeleccionada"
    [columnas]="columnas"
  >
    <div>
      
        <p-button
          class="accion"
          id="eliminar"
          label="Eliminar"
          icon="pi pi-trash"
          severity="danger"
          (onClick)="confirmarEliminacion($event)"
          [disabled]="!this.actividadSeleccionada"
        ></p-button>
      </div>
      <div>
        <p-button
          class="accion"
          id="finalizar"
          icon="pi pi-check"
          label="Finalizar"
          (onClick)="confirmarFinalizar($event)"
          [disabled]="!this.actividadSeleccionada"
        ></p-button>
        
      </div>
      <div>
        <p-button
        class="accion"
        icon="pi pi-file"
        label="Exportar"
        severity="secondary"
        rounded="true"
        (onClick)="t.table.exportCSV()"
        pTooltip="Exportar">
      </p-button>
      </div>
      
    
  </app-tabla-actividades>
</app-base>
<p-toast/>
<p-confirmDialog/>
