<app-base>
  <app-tabla-actividades
    #t
    [valores]="actividades"
    [(filaSeleccionada)]="actividadSeleccionada"
    [columnas]="columnas"
  >
    <div>
      
        <p-button
          class="accion"
          id="eliminar"
          label="Eliminar"
          icon="pi pi-trash"
          severity="danger"
          (onClick)="eliminar()"
          [disabled]="!this.actividadSeleccionada"
        ></p-button>
      </div>
      <div>
        <p-button
          class="accion"
          id="finalizar"
          icon="pi pi-check"
          label="Finalizar"
          (onClick)="finalizar()"
          [disabled]="!this.actividadSeleccionada"
        ></p-button>
      </div>
      
    
  ></app-tabla-actividades>
</app-base>
