<app-base>
  <app-tabla-actividades
    #t
    [valores]="actividadesFiltradas"
    [(filaSeleccionada)]="actividadSeleccionada"
    [columnas]="columnas">
    <div>
      <p-button
        class="accion"
        id="añadir"
        label="Añadir"
        icon="pi pi-plus"
        (onClick)="nuevo()">
      </p-button>
      <p-button
        class="accion"
        icon="pi pi-file"
        label="Exportar"
        (onClick)="t.table.exportCSV()"
        pTooltip="Exportar">
      </p-button>
      <p-button
      class="accion"
      icon="pi pi-pencil"
      severity="secondary"
      (onClick)="editar()"
      pTooltip="Editar"
      [disabled]="!this.actividadSeleccionada">
      </p-button>
      <p-button
        class="accion"
        icon="pi pi-bars"
        pTooltip="Auditoria"
        severity="secondary"
        [disabled]="!this.actividadSeleccionada"
        (onClick)="auditoria()">
      </p-button>
      <p-button
          class="accion"
          icon="pi pi-times"
          color= "red"
          severity="danger"
          (onClick)="eliminar()"
          [disabled]="!this.actividadSeleccionada">

        </p-button>
    </div>
    <div>
      <input type="text" pInputText placeholder="Buscar..." (input)="buscar($event)" />
    </div>
  </app-tabla-actividades>
</app-base>

<app-actividad-dialog
  [(visible)]="dialogVisible"
  [accion]="accion"
  [actividad]="actividadSeleccionada"
  (refrescar)="llenarTabla()"
/>
