:host {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #D6DCDD;
}

#inicio-de-sesion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #D6DCDD;
    padding: 1rem;
    border-radius: 10px;
    min-height: 20rem;
   /// box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Sombra con desenfoque y transparencia */
}

label {
    margin-bottom: 1rem;
}

h1 {
    text-align: center; /* Centrar el texto dentro del h1 */
    width: 100%; /* Asegurarse de que ocupe todo el ancho del contenedor */
    margin-bottom: 2rem; /* Añadir espacio inferior para separarlo de los inputs */
}

.contenedor-input{
    margin-bottom: 3px; /* Añadir espacio inferior para separarlo de los inputs */
}

.contenedor-input mat-form-field{
    width: 500px;
}

.contenedor-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* Ajusta este valor según sea necesario */
}

.contenedor-button button{
    margin-top: 10px;
    width: 100%;
}