<app-base>
  <app-tabla-actividades
    #t
    [valores]="filteredUsuarios"
    [(filaSeleccionada)]="usuarioSeleccionado"
    [columnas]="columnas"
  >
  <input type="text" placeholder="Buscar..." (input)="buscar($event)" />

    <div>
      <p-button
        class="accion"
        id="añadir"
        label="Añadir"
        icon="pi pi-plus"
        (onClick)="nuevo()"
      ></p-button>
      
    
      <p-button
        class="accion"
        icon="pi pi-pencil"
        severity="secondary"
        (onClick)="editar()"
        pTooltip="Editar"
        [disabled]="!this.usuarioSeleccionado"
      ></p-button>
      <p-button
        class="accion"
        icon="pi pi-times"
        color= "red"
        severity="danger"
        (onClick)="eliminar()"
        pTooltip="Eliminar"
        [disabled]="!this.usuarioSeleccionado"
      ></p-button>
    </div
  ></app-tabla-actividades>
</app-base>
<app-usuario-dialog
  [(visible)]="dialogVisible"
  [accion]="accion"
  [usuario]="usuarioSeleccionado"
  (refrescar)="llenarTabla()"
/>
