<app-base>
  <app-tabla-actividades
    #t
    [valores]="filteredUsuarios"
    [(filaSeleccionada)]="usuarioSeleccionado"
    [columnas]="columnas">
    <div>
      <p-button
        class="accion"
        id="añadir"
        label="Añadir"
        icon="pi pi-plus"
        severity="contrast"
        [rounded]="true"
        (onClick)="nuevo()">
      </p-button>
      <p-button
        class="accion"
        icon="pi pi-file"
        label="Exportar"
        severity="secondary"
        rounded="true"
        (onClick)="t.table.exportCSV()"
        pTooltip="Exportar">
      </p-button>
      <p-button
        class="accion"
        icon="pi pi-pencil"
        severity="secondary"
        (onClick)="editar()"
        pTooltip="Editar"
        [rounded]="true"
        [disabled]="!this.usuarioSeleccionado">
      </p-button>
      <p-button
        class="accion"
        icon="pi pi-times"
        color= "red"
        severity="danger"
        [rounded]="true"
        (onClick)="confirmarEliminacion($event)"
        pTooltip="Eliminar"
        [disabled]="!this.usuarioSeleccionado">
      </p-button>
    </div>
    <div>
      <input type="text" pInputText placeholder="Buscar..." (input)="buscar($event)" />
    </div>
  </app-tabla-actividades>
</app-base>
<p-toast/>
<p-confirmDialog/>

<app-usuario-dialog
  [(visible)]="dialogVisible"
  [accion]="accion"
  [usuario]="usuarioSeleccionado"
  (refrescar)="llenarTabla()"
/>
