<app-base>
  <form [formGroup]="form">
    <app-tabla-actividades
      #t
      [valores]="auditoriasFiltradas"
      [(filaSeleccionada)]="auditoriaSeleccionada"
      [columnas]="columnas">
      <div>
        <label for="idUsuarioActual">Responsable:</label>
          <p-dropdown
            id="usuario"
            [options]="usuarios"
            optionLabel="nombreUsuario"
            placeholder="Seleccionar"
            formControlName="idUsuarioActual">
          </p-dropdown>
      </div>
      <div>
          <input
            type="text"
            pInputText
            formControlName="searchTerm"
            placeholder="Buscar..."/>
      </div>
    </app-tabla-actividades>
  </form>
</app-base>